{% extends "base.html" %}

{% block main %}
  <form action="{% url 'edit_product' product.id %}" method='POST'>
    {% csrf_token %}
    <a style="margin-bottom: 10px;" class="btn btn-outline-primary float-right" href="/products" role="button">Back to products</a>
    <p class="lead">Edit product:</p>

    <div class="form-group">
      <label for="name"><b>Name</b></label>
      <input type="text" class="form-control {% if errors.name %}is-invalid{% endif %}" id="name" value="{{product.name}}" name='name'>
      {% if errors.name %}
        <p style="color: #dc3545">{{errors.name}}</p>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="sku"><b>SKU</b></label>
      <!-- Add is-invalid class to SKU input in case of error -->
      <!-- Add product SKU to "value" property to show original value -->
      <input type="text" class="form-control" id="sku" name="sku">
      <!-- Show SKU error -->
      <!-- YOUR CODE HERE -->
    </div>
    <div class="form-group">
      <label for="price"><b>Price</b></label>
      <!-- Add is-invalid class to Price input in case of error -->
      <!-- Add product Price to "value" property to show original value -->
      <input type="number" class="form-control" id="price" name="price" step=".1">
      <!-- Show Price error -->
      <!-- YOUR CODE HERE -->
    </div>
    <div class="form-group">
      <label for="category"><b>Category</b></label>
      <select class="form-control" id="category" name='category'>
        {% for category in categories %}
          <option {% if category.name == product.category.name %}selected{% endif %}>
            {{category.name}}
          </option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="description"><b>Description</b></label>
      <!-- Add product description between textarea tags to show original value -->
      <textarea class="form-control" id="description" rows="3" name='description'></textarea>
    </div>
    <div class="form-group">
      <label for="images"><b>Images</b></label>
      <input type="url" class="form-control" id="image-1" name="image-1" value="{{images.0}}" placeholder="http://my-product-image/1">
      <br>
      <!-- Add product second image to "value" property to show original value -->
      <input type="url" class="form-control" id="image-2" name="image-2" placeholder="http://my-product-image/2">
      <br>
      <!-- Add product third image to "value" property to show original value -->
      <input type="url" class="form-control" id="image-3" name="image-3" placeholder="http://my-product-image/3">
    </div>

    <button type="submit" class="btn btn-primary float-right">Edit</button>
  </form>
{% endblock %}
