{% extends "base.html" %}

{% block main %}
  <p class="lead">Featured products <i style="color: orange;" title='Edit' class="fas fa-star"></i></p>
  <div class="row">

    {% if featured_products %}
      <!-- Loop through all featured products and render the component below replacing each part properly -->
      <!-- YOUR FOR LOOP HERE -->
      <div class="col" style="">
        <div class="card mx-auto" style="height: 100%; width: 12rem;">
          {% if featured_product.productimage_set.all %}
          <div class="product-image-container">
            <!-- Replace the src tag with the FIRST url image of the product-->
            <img class="card-img-top product-image" src="https://via.placeholder.com/150x150" alt="Card image cap">
          </div>
          {% else %}
          <div class="product-image-container">
            <!-- keep the default placeholder image in case product doesn't have one -->
            <img class="card-img-top product-image" src="https://via.placeholder.com/150x150" alt="Card image cap">
          </div>
          {% endif %}
          <div class="card-body text-center">
            <!-- Complete product name -->
            <h5 class="card-title text-truncate" title="TEST PRODUCT">TEST PRODUCT</h5>
            <!-- Complete product price -->
            <p class="card-text">$999.99</p>
            <!-- Complete href property with product id at the end -->
            <a href="/edit-product/99999" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      <!-- YOUR END FOR LOOP HERE -->
    {% else %}
      <div class="col">
        <p class="text-center font-italic">No products marked as featured yet.</p>
      </div>
    {% endif %}

  </div>

  <br>
  <br>
  <a style="margin-bottom: 10px;" class="btn btn-outline-primary float-right" href="/create-product" role="button">Create product</a>
  <p class="lead">List of all available products</p>
  <table class="table table-striped">
    <thead>
      <tr style="text-align: center;">
        <th>#</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Featured</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through all products and render the component below replacing each part properly -->
      <!-- YOUR FOR LOOP HERE -->
      <tr style="text-align: center;">
        <td>{{ forloop.counter }}</td>
        <!-- Complete product name -->
        <td>TEST PRODUCT</td>
        <!-- Complete product category name -->
        <td>TEST CATEGORY</td>
        <!-- Complete product price -->
        <td>$999.99</td>
        <td>
          {% if product.featured %}
          <!-- Complete href property with product id at the end -->
          <a href="/toggle-featured/99999"><i style="color: orange;" title='Edit' class="fas fa-star"></i></a>
          {% else %}
          <!-- Complete href property with product id at the end -->
          <a href="/toggle-featured/99999"><i title='Edit' class="far fa-star"></i></a>
          {% endif%}
        </td>
        <td>
          <!-- Complete href property with product id at the end -->
          <a href="/edit-product/99999"><i title='Edit' class="fas fa-edit"></i></a>
          <!-- Complete href property with /delete-product/{{product.id}} -->
          <a href="">
            <i style="color: crimson;" title='Delete' class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
      <!-- YOUR END FOR LOOP HERE -->
    </tbody>
  </table>
{% endblock %}
